<h1 class="h3 text-dark pt-3">Edit Cuisine</h1>
<hr>

<div class="container show-hide-message">
    <div [ngClass]="messageClass">
        {{message}}
    </div>
</div>

<form [formGroup]="createCuisineForm" novalidate class="container" (submit)="editCuisine()">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="foodname" name="foodName" formControlName="foodName"
                placeholder="Abc...">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Quantity</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="quantity" name="quantity" formControlName="quantity"
                placeholder="0">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Unit Price</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="unitPrice" name="unitPrice" formControlName="unitPrice"
                placeholder="0">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Image</label>
        <div class="col-sm-10">
            <img class="img-thumbnail w-25" src="{{imageUrl}}/{{image}}" alt="{{image}}">
            <input type="file" (change)="fileChange($event)" class="form-control-file border" name="image">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="description"
                formControlName="description"></textarea>
        </div>
    </div>

    <hr class="mt-4">

    <input [disabled]="!createCuisineForm.dirty" class="btn btn-success mx-auto d-block btn-lg btn-block col-sm-4" type="submit" value="Update">

</form>