<div class="container" style="margin-top: 5rem">
  <div class="restro_detail--img">
    <img src="{{ imgUrl }}/{{ restaurantDetails.image }}" alt="" />
  </div>
  <div class="restro_detail">
    <h1>{{ restaurantDetails.restaurantName }}</h1>
    <h3>Details:</h3>
    <div class="restro_detail--inner">
      <p>
        <i class="fas fa-map-marked-alt"></i>{{ restaurantDetails.location }}
      </p>
      <p>
        <i class="fas fa-phone-square-alt"></i>{{ restaurantDetails.phoneNo }}
      </p>
    </div>
    <h3>Description:</h3>
    <p>{{ restaurantDetails.description }}</p>

    <div class="row">
      <div class="col-sm-12">
        <ul
          class="list-inline rating-list"
          *ngFor="let star of stars"
          style="display: inline-block"
        >
          <li
            (click)="countStar(star, restaurantDetails._id)"
            [ngClass]="{ selected: star <= selectedValue }"
          >
            <i class="fa fa-star"></i>
          </li>
        </ul>
      </div>
    </div>

    <div class="reviews">
      <h4>Post a comment :</h4>
      <form
        (submit)="onReviewSubmit(restaurantDetails._id)"
        [formGroup]="reviewForm"
      >
        <textarea
          name="review"
          formControlName="review"
          id="review"
          cols="30"
          rows="10"
        ></textarea>
        <input class="submit_review" type="submit" value="Submit" />
      </form>
      <h3 class="mt-3 mb-3 cmt-title">Comments</h3>
      <div *ngIf="reviews">
        <div *ngFor="let review of reviews" class="review_inner">
          <h3><i class="far fa-user"></i> {{ review["userId"].username }}</h3>
          <p>
            {{ review.review }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
